{% extends 'base.html.twig' %}

{% block title %}All vehicles{% endblock %}

{% block body %}
    {% if vehicles|length > 0 %}
        <h1 class="row justify-content-center">{{vehicles|length}} vehicles</h1>
        <div class="card-columns">
            {% for vehicle in vehicles %}
                <article class="card-vehicle card">
                    <a href="{{path('app_vehicles_show', {id: vehicle.id})}}">
                        <img class="card-img-top" src="{{ vich_uploader_asset(vehicle)}}" alt="{{vehicle.type}}"/>
                        <div class="card-block">
                            <h2 class="card-vehicle-title card-title">{{vehicle.type}}</h2>
                        </div>
                        <div class="card-footer">
                            <p class="card-vehicle-tag card-text {{
                                vehicle.stock > 0 ? 'positive' : 'negative'
                            }}">stock: {{vehicle.stock}}</p>
                            <p class="card-vehicle-tag card-text {{
                                vehicle.locationStatus == "available" ? 'positive' : 'negative'
                            }}">
                                {{vehicle.locationStatus == "available" ? 'available' : 'unavailable'}}
                            </p>
                        </div>
                    </a>
                </article>
            {% endfor %}
        </div>
    {% else %}
        <p>No vehicles yet :(</p>
    {% endif %}

{% endblock %}
